<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志文件的路径 -->
    <property name="LOG_PATH" value="cw-consumer/logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/common.log"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive/"/>
    <property name="BUSINESS_LOG_FILE" value="${LOG_PATH}/consumer.log"/>

    <!-- 控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件日志输出，按天分割日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <!-- 滚动策略：按时间滚动，日志文件按天保存 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名模式，按天保存，最多保存30天的日志 -->
            <fileNamePattern>${LOG_ARCHIVE}app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 业务日志输出，单独配置文件 -->
    <appender name="RPCLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BUSINESS_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}rpc.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置日志级别 -->
    <root level="INFO">
        <!-- 控制台输出 -->
        <appender-ref ref="CONSOLE"/>
        <!-- 文件输出 -->
        <appender-ref ref="FILE"/>
    </root>


    <!-- 指定名称为 "businessLog" 的 logger 配置 -->
    <logger name="consumer" level="INFO">
        <!-- 业务日志文件输出 -->
        <appender-ref ref="RPCLOG"/>
    </logger>

    <!-- 单独设置某些包的日志级别 -->
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.cw.rpc" level="DEBUG"/>

</configuration>
